#NET "PS2C" LOC = "B1" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "PS2D" LOC = "C3";

NET "clk" LOC = "B8";

NET "NOTEF" LOC = "B2";

NET "PS2C"   LOC = "B1" | DRIVE = 2 | PULLUP | CLOCK_DEDICATED_ROUTE = FALSE;

